{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<main class="page projects-page">
    <section class="portfolio-block projects-with-sidebar">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto">
                    <div class="card card-signin flex-row my-5">
                        <div class="card-body">
                            <h1 class="card-title text-center">Connexion</h1>
                            <form class="form-signin" method="POST">
                                {% if app.user %}
                                <div class="mb-3 alert alert-danger">
                                    Vous êtes deja connecté en tant que {{ app.user.pseudo }}, <a class="text-primary"
                                        href="{{ path('app_logout') }}">Deconnexion</a></p>
                                </div>
                                {% else %}
                                <h2 class=" mb-3 font-weight-normal">Veuillez vous connecter</h2>
                                <div class="row">
                                    <form method="POST" class="col-6 offset-3">
                                        <label for="inputEmail" class="mt-1">Email</label>
                                        <input type="email" value="" name="email" id="inputEmail" class="form-control"
                                            required autofocus>
                                        <label for="inputPassword">Mot de passe</label>
                                        <input type="password" name="password" id="inputPassword" class="form-control"
                                            required>
                                        <input type="hidden" name="_csrf_token"
                                            value="{{ csrf_token('authenticate') }}">
                                        <button class="btn btn-lg btn-block btn-primary mt-2"
                                            type="submit">Connexion</button>
                                    </form>
                                    {% endif %}
                                </div>
                        </div>
                    </div>
                </div>
    </section>
    {% endblock %}