{# pages/discover.html.twig #}
{% extends "base.html.twig" %}
{% block title %}Contactez-nous {% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
<main class="page projects-page">
    <section class="portfolio-block projects-cards">
        <h1>Contactez-nous !</h1>
    </section>
</main>
{% endblock %}
{% block javascripts %}{% endblock %}