{# pages/discover.html.twig #}
{% extends "base.html.twig" %}
{% block title %}Discover {% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
<main class="page projects-page">
    <section class="portfolio-block projects-cards">
        <div class="heading">
            <h2>Découvrir</h2>
        </div>
        <div class="container">
            <h2>Films populaires</h2>
            <div class="row">
                <div class="container" id="popular-movies">
                </div>
            </div>
        </div>
        <div class="container">
            <hr>
            <h2>Séries populaires</h2>
            <div class="row">
                <div class="container" id="popular-shows">
                </div>
            </div>
    </section>
</main>

{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/tmdb_api.js') }} "></script>
<script src="{{ asset('js/display.js') }} "></script>
<script>

let isLogged = {{ (app.user is not empty) ? 'true' : 'false' }}; 

let movies = tmdbApi.discover('movie', {
        'include_video' : 'false',
        'include_adult' : 'false',
        'sort_by' : 'popularity.desc',
        'total_result' : '5',
        'language' : 'fr-FR',
        })
.then( movies => { return displayMovies(movies.results) })

let shows = tmdbApi.discover('tv', {
            'include_null_first_air_dates' : 'false',
            'timezone' : 'Europe%2FParis',
            'page' : '1',
            'sort_by' : 'popularity.desc',
            'language' : 'fr-FR',
        })
.then( shows => { return displayShows(shows.results) });

Promise.all([movies, shows]).then( () => checkSession(isLogged));





</script>
{% endblock %}