{# pages/discover.html.twig #}
{% extends "base.html.twig" %}
{% block title %}Discover {% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
<main class="page projects-page">
    <section class="portfolio-block projects-cards">
        <div class="heading">
            <h2>Découvrir</h2>
        </div>
        <div class="container">
            <h2>Films populaires</h2>
            <div class="row">
                <div class="container" id="popular-movies">
                </div>
            </div>
        </div>
        <div class="container">
            <hr>
            <h2>Séries populaires</h2>
            <div class="row">
                <div class="container" id="popular-shows">
                </div>
            </div>
    </section>
</main>

{% endblock %}
{% block javascripts %}
<script>
    var isLogged = {{ (app.user is not empty) ? 'true' : 'false' }}; 
    console.log(isLogged);
/*discoverMovies();
discoverShows();
setTimeout(function(){
    if($("[id*='itemMovies-']").length == 20)
        checkSession();
    else
        console.log('impossible de charger correctement la page, Veuillez réessayer');
}, 500);*/


function loadScript(src) {
    return new Promise(function(resolve, reject) {
        let script = document.createElement('script');
        script.src = src;

        script.onload = () => resolve(script);
        script.onerror = () => reject(new Error(`Script load error for ${src}`));

        document.head.append(script);
        }
    );
}

let promise = loadScript(` {{ asset('js/tmdb-api-calls.js') }}` );
console.time('promise');
promise.then(
    script => discoverMovies(),
    error => alert(`Error: ${error.message}`),
    ).then(() => new Promise(
        script => discoverShows(),
        error => alert(`Error: ${error.message}`),
        console.timeEnd('promise'),
    )
);

var checkExist = setInterval(function() {
    if ($("div[id*='itemMovies-'], div[id*='itemShows-']").length) {
        checkSession();
        clearInterval(checkExist);
    }
}, 5);
</script>
{% endblock %}