{# pages/people-view.html.twig #}
{% extends "base.html.twig" %}
{% block title %}Nom personnalité {% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <h1 class="text-center">Test bootstrap</h1>
{% endblock %}
{% block javascripts %}{% endblock %}