{# pages/people-view.html.twig #}
{% extends "base.html.twig" %}
{% block title %}Nom personnalité {% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
<h1 class="text-center">Test bootstrap</h1>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/api/tmdb_api.js') }} "></script>
<script src="{{ asset('js/display/display.js') }} "></script>
<script>
    let id = window.location.search.substr(4);
    person = tmdbApi.people(id, 'fr-FR')
        .then(function (person) {
            console.log(person);
            let knownFor = person.known_for_department;
            switch (person.known_for_department) {
                case 'Acting':
                    knownFor = 'Interprétation';
                    break;
                case 'Art':
                    knownFor = 'Artistique';
                    break;
                case 'Camera':
                    knownFor = 'Image';
                    break;
                case 'Costume & Make-Up':
                    knownFor = 'Costumes et Maquillage';
                    break;
                case 'Crew':
                    knownFor = 'Equipe Technique';
                    break;
                case 'Directing':
                    knownFor = 'Réalisation';
                    break;
                case 'Editing':
                    knownFor = 'Montage';
                    break;
                case 'Lighting':
                    knownFor = 'Éclairage';
                    break;
                case 'Art':
                    knownFor = 'Artistique';
                    break;
                case 'Visual Effects':
                    knownFor = 'Effets visuels';
                    break;
                default:
                    knownFor;
            };
            console.log("known for : " + knownFor)
        });

    personCredits = tmdbApi.people(id, 'fr-FR', 'combined_credits')
        .then(function (personCredits) {
            console.log(personCredits);
            //affichage...
        });
</script>
{% endblock %}