{# main/terms.html.twig #}
{% extends "base.html.twig" %}
{% block title %}Politique de confidentialité {% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
<main class="page projects-page">
    <div class="container-fluid ">
        <section class="portfolio-block projects-cards">
            <div class="heading">
                <h2>Politique de confidentialité</h2>
            </div>
            <div class="col-12 text-center">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi commodi magnam incidunt ab vitae itaque unde in assumenda, cum quibusdam delectus expedita non, tempora exercitationem.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi commodi magnam incidunt ab vitae itaque unde in assumenda, cum quibusdam delectus expedita non, tempora exercitationem.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi commodi magnam incidunt ab vitae itaque unde in assumenda, cum quibusdam delectus expedita non, tempora exercitationem.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi commodi magnam incidunt ab vitae itaque unde in assumenda, cum quibusdam delectus expedita non, tempora exercitationem.</p>
            </div>
        </section>
    </div>
</main>
{% endblock %}
{% block javascripts %}{% endblock %}