#main-navbar .nav-item.active>.nav-link {
    color: #42d342;
}

.nav-link.dropdown-toggle>img{
    width:35%
}

.personal-infos {
    z-index: 3;
}

.card-no-shadow{
    text-shadow: none!important;
}

.sidebar-profile {
    width: 25%;
    height: 25vh; 
    min-height: 200px;
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 5%;

}
div.media-body.border-light{
    border: #f8f9fa 2px solid;
    padding: 1%;
}
a[id*="v-pills-"].nav-link{
    border-radius: 0 0 0 0!important;
    -webkit-border-radius: 0 0 0 0!important;
    -moz-border-radius: 0 0 0 0!important;
    -ms-border-radius: 0 0 0 0!important;
    -o-border-radius: 0 0 0 0!important;
}
#v-pills-profile-tab{
    border-radius:.25rem .25rem 0 0!important;
    -webkit-border-radius:.25rem .25rem 0 0!important;
    -moz-border-radius:.25rem .25rem 0 0!important;
    -ms-border-radius:.25rem .25rem 0 0!important;
    -o-border-radius:.25rem .25rem 0 0!important;
}

.menuuu {
    height: 100%;
    background-color: rgba(205, 204, 198, 0.05);
    width: 100%;
    text-shadow: none!important;
}


.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0ea0ff !important;
    border-radius: .25rem .25rem 0 0;
}

.nav-pills .nav-link {
    border-radius: .25rem .25rem 0 0;
    color: #0ea0ff;
    background-color: #fff;
    -webkit-border-radius: .25rem .25rem 0 0;
    -moz-border-radius: .25rem .25rem 0 0;
    -ms-border-radius: .25rem .25rem 0 0;
    -o-border-radius: .25rem .25rem 0 0;
}


.btn-outline-light:hover {
    color: #fff;
    background: #0ea0ff;
    border-color: #fff;
}

.primary-details {
    margin-bottom: 3rem;
}

.primary-block {
    background-color: #343a40;
    padding-bottom: 2.5rem !important;
    margin-top: 2rem;
}

.primary-block-text {
    color: white;
    text-shadow: 0em 0em 0em white, .1em .6em .4em black, 0em 0em 0em white;
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
}

.secondary-block {
    margin-top: 25px;
}

.details-content {
    color: white;
    text-shadow: 0em 0em 0em white, .1em .6em .4em black, 0em 0em 0em white;
    font-family: 'Open Sans', sans-serif;
    font-size: x-large
}

.details-li-content {
    font-size: large;
}

.navbar {
    padding-top: 0rem;
    padding-bottom: 0rem;
    z-index: 10;
}

/* ITEM PAGES */
/* Set priority for overlay */
.synopsis {
    margin-top: 60px;
    z-index: 2;
}

p.list-group-cast {
    margin-bottom: 0 !important;
}

p.list-group-crew {
    margin-bottom: 0 !important;
}

li.nav-item-left {
    background-color: #fff;
    border-top-left-radius: .25rem;
}

li.nav-item-right {
    background-color: #fff;
    border-top-right-radius: .25rem;
}

.details {
    z-index: 2;
}

.buttons {
    z-index: 2;
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
    z-index: 1;
    background-size: cover;
    top: -30px;
    left: 0;
}

/* END ITEM PAGES */


.container-fluid,
.span,
li {
    list-style: none;
}

@media (min-width:768px) {
    .portfolio-navbar.fixed-top+.page>img {
        width: 100%
    }

    img.casting-list-img {
        height: 125px;
    }

    img#logo.d-inline-block.align-top.mr-2 {
        margin-left: 6rem;
        width: 25%;
    }

    .image-fluid,
    .poster {
        height: 60%;
    }

    .poster {
        max-width: 20%;
        margin-top: 50px;
        z-index: 2;
    }

    .portfolio-block {
        padding-top: 60px;
    }

    .portfolio-block .heading {
        margin-bottom: 60px;
    }

    #add-to-list {
        margin-top: 1px;
        border-radius: .5em 0em 0em .5em !important;
        -webkit-border-radius: .5em 0em 0em .5em !important;
        -moz-border-radius: .5em 0em 0em .5em !important;
        -ms-border-radius: .5em 0em 0em .5em !important;
        -o-border-radius: .5em 0em 0em .5em !important;
    }

    #add-to-list-dd {
        margin-top: 1px;
        border-radius: 0em .5em .5em 0em !important;
        -webkit-border-radius: 0em .5em .5em 0em !important;
        -moz-border-radius: 0em .5em .5em 0em !important;
        -ms-border-radius: 0em .5em .5em 0em !important;
        -o-border-radius: 0em .5em .5em 0em !important;
    }

    #like {
        margin-top: 1px;
        border-radius: .5em !important;
        -webkit-border-radius: .5em !important;
        -moz-border-radius: .5em !important;
        -ms-border-radius: .5em !important;
        -o-border-radius: .5em !important;
    }



}

@media (min-width:576px) {
    .portfolio-navbar.fixed-top+.page {
        padding-top: 5.5rem
    }
}

@media (min-width:375px) and (max-width:768px) {
    .poster img {
        width: 80%;
        margin-top: -125px;
    }

    img.casting-list-img {
        max-height: 60px;
    }

    img#logo.d-inline-block.align-top.mr-2 {
        display: none !important;
    }

    .banner img {
        width: 100%;
        height: 150px;
    }

    .offset-1,
    .col-lg-7,
    .border-bottom>p {
        text-align: center;
        margin: 0;
    }
    #v-pills-profile{
        text-align: left!important;
    }
    .synopsis {
        margin-top: 1rem !important;
    }
}

.nav-link {
    display: block;
    padding: .25rem .5rem !important;
}

/** GRIDS **/

.grid-item {
    position: relative;
    width: calc(50% - 4px);
    min-width: 120px;
    min-height: 200px;
    background-color: #1e1f23;
    margin: 2px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.grid-item:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background: linear-gradient(180deg, transparent, #000);
    opacity: 0;
    transition: opacity .2s ease-in-out;
    pointer-events: none;
    border-radius: 8px
}

.grid-item:hover .u-toggle-hover {
    opacity: 1
}

.grid-item:hover:after {
    opacity: .85
}

.grid-item-desktop {
    display: none
}

.grid-item-image {
    width: 100%;
    height: auto;
    min-width: 135px;
    vertical-align: middle;
    z-index: 0;
    border-radius: 8px;
}

.grid-item-image.u-toggle-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .4s ease-in-out
}

.grid-item-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10px;
    padding: 20px;
    font-family: raleway, serif;
    text-align: left;
    letter-spacing: 1px;
    z-index: 2
}

.grid-item-content-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    opacity: 0;
    transition: opacity .4s ease-in-out;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -ms-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    color: white;
}

.grid-item-content-divider {
    width: 100%;
    height: 2px;
    background: linear-gradient(120deg, #7f70f5, #0ea0ff);
    ;
    opacity: 0;
    transform: scaleX(.01);
    transform-origin: left;
    transition: all .4s cubic-bezier(.84, .12, .59, .83), opacity .2s ease-in-out
}

.grid-item-content-author {
    margin-top: 10px;
    font-size: 10px;
    font-weight: 100;
    line-height: 14px;
    opacity: 0;
    transform: translateY(4px);
    transition: all .4s ease-in-out
}

.grid-item:hover .grid-item-content .grid-item-content-title {
    opacity: 1
}

.grid-item:hover .grid-item-content .grid-item-content-divider {
    opacity: 1;
    transform: scaleX(1)
}

.grid-item:hover .grid-item-content .grid-item-content-author {
    opacity: 1;
    transform: translateY(0)
}

.grid-item-icons {
    position: absolute;
    cursor: pointer;
    z-index: 3
}

.grid-item-icons-icon {
    width: 25px
}

.grid-item-icons.u-top {
    bottom: 4px;
    right: 4px
}

.grid-item-icons.u-bottom {
    top: 4px;
    left: 2px
}

.grid-item-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 68px;
    margin: 0 0 4px;
    padding: 4px;
    background-color: #1e1f23;
    font-family: raleway, serif;
    text-align: center
}

.grid-item-info-title {
    margin: 0 0 4px;
    font-size: 12px;
    font-weight: 400;
    word-break: break-all
}

.grid-item-info-author {
    margin: 0;
    color: #ce2c30;
    font-size: 10px;
    font-weight: 300;
    font-style: italic
}

.grid-item-info-server {
    margin: 0;
    color: #636363;
    font-size: 10px;
    font-weight: 300;
    font-style: italic
}

@media(min-width:760px) {
    .grid-item {
        width: calc(20% - 4px)
    }
}

@media(min-width:1084px) {
    .grid-item-desktop {
        display: block
    }
}

/* ICONS */
.c-reaction-icon:hover {
    opacity: .7;
}

.c-reaction-icon-disabled {
    opacity: .7;
}

.c-reaction-icon {
    opacity: 1;
    width: 22px;
}

.fa-heart {
    color: red;
}

.fa-plus-square {
    color: yellow;
}

.fa-star {
    background: linear-gradient(120deg, #7f70f5, #0ea0ff);
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(120deg, rgba(127, 112, 245, 0.1), rgba(14, 160, 255, 0.1));
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    color: #fff;
}

.c-label {
    margin: 4px;
    padding: 3px 6px;
    border-top: 1px solid #17181a;
    border-left: 1px solid #17181a;
    border-radius: 8px;
    background-color: #1e1f23;
    color: #636363;
    font-family: roboto, sans-serif;
    font-size: 11px;
    font-weight: 300;
    font-style: normal
}

.c-label.grid-item-icons-counter {
    display: inline-block;
    margin: 3px 2px 0;
    color: #fff;
    vertical-align: middle
}

.c-notice {
    border: 2px dashed #ce2c30;
    background-color: #1e1f23;
    padding: 20px
}

.c-notice a {
    color: #ce2c30;
    font-weight: 500;
    text-decoration: underline
}

.c-notice .c-button {
    margin-top: 20px
}


.c-tooltip {
    position: relative;
    display: inline-block;
    vertical-align: top
}

.c-tooltip-text {
    display: none;
    position: absolute;
    bottom: calc(100% + 8px);
    width: 0;
    padding: 5px 0;
    background-color: #1e1f23;
    color: #fff;
    font-family: roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    text-transform: none;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    transition: opacity .5s
}

.c-tooltip-text.u-small {
    bottom: calc(100% + 5px);
    width: 60px;
    margin-left: -30px
}

.c-tooltip-text:after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #1e1f23 transparent transparent
}

@media(min-width:760px) {
    .c-tooltip:hover .c-tooltip-text {
        display: block;
        visibility: visible;
        opacity: 1;
        left: 50%;
        width: 120px;
        margin-left: -60px;
        margin-top: -10px
    }

    .c-gear-slot-item-search .c-tooltip:hover .c-tooltip-text {
        width: 160px;
        margin-left: -80px
    }
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#nav-tab {
    border: none;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: #fff;
    color: #495057;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: #fff;
    color: #0ea0ff;
}

.list-group-item {
    padding: 5px 5px 5px 0px;
    float: left;
    width: 100%;
}

.show-more {
    display: none;
    cursor: pointer;
}

@media only screen and (min-width:1024px) {

    .menu_text {
        display: none;
    }

    .menu_icon {
        display: inline-block;
        font-size: 2rem;
    }

}

@media only screen and (max-width:1024px) {

    .menu_text {
        display: inline-block;
    }

    .menu_icon {
        display: none;
    }

}

@media only screen and (max-width: 768px){
    
    .watchlist-container {
        position: fixed;
        max-height: 600px;
        overflow-y: scroll;
    }
}

h2.filter-active {
    color: #7f70f5;
}

.search-type h2:hover {
    cursor: pointer;
}

.genres-search {
    border: 0px;
    background-color: white;
    width: 0px;
    height: 0px;
}

.genre-option:hover {
    cursor: default;
    background: linear-gradient(120deg, #7f70f5, #0ea0ff);
}

.genres-options {

    height: 250px;
    overflow-y: scroll;
}

.genres-form {
    min-height: calc(1.5em + .75rem + 2px);
}

.genres-form {
    cursor: text;
}

.remove-selected-genre {
    color: #c1bdbd;
    padding-right: 5px;
}

.selected-genre {

    border: solid 1px;
    border-color: #a8a8a8;
    border-radius: 5px;
    background: #7f70f5;
    padding: 2px;
    margin: 2px;
    height: 85%;
    display: inline-block;
    color: white;
}

.remove-selected-genre:hover {
    cursor: pointer;
}


.overlay {

  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 20; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */

}

.watchlist-container{
    cursor: auto;
}

/* COMMENTS AREA */
.comments-main {
    background: #FFF;
    z-index: 1;
}

.comment time,
.comment:hover time,
.icon-rocknroll,
.like-count {
    -webkit-transition: .25s opacity linear;
    transition: .25s opacity linear;
}

.comments-main ul li {
    list-style: none;
}

.comments .comment {
    padding: 5px 10px;
    background: #00AF90;
}

.comments .comment:hover time {
    opacity: 1;
}

.comments .user-img img {
    width: 50px;
    height: 50px;
}

.comments .comment h4 {
    display: inline-block;
    font-size: 16px;
}

.comments .comment h4 a {
    color: #404040;
    text-decoration: none;
}

.comments .comment .icon-rocknroll {
    color: #545454;
    font-size: .85rem;
}

.comments .comment .icon-rocknroll:hover {
    opacity: .5;
}

.comments .comment time,
.comments .comment .like-count,
.comments .comment .icon-rocknroll {
    font-size: .75rem;
    opacity: 0;
}

.comments .comment time,
.comments .comment .like-count {
    font-weight: 300;
}

.comments .comment p {
    font-size: 13px;
}

.comments .comment p .reply {
    color: #BFBFA8;
    cursor: pointer;
}

.comments .comment .active {
    opacity: 1;
}

.icon-rocknroll {
    background: none;
    outline: none;
    cursor: pointer;
    margin: 0 .125rem 0 0;
}

.comments .comment:hover .icon-rocknroll,
.comments .comment:hover .like-count {
    opacity: 1;
}

.comment-box-main {
    background: linear-gradient(120deg, #7f70f5, #0ea0ff);
    ;
}

@media (min-width: 320px) and (max-width: 480px) {
    .comments .comment h4 {
        font-size: 12px;
    }

    .comments .comment p {
        font-size: 11px;
    }

    .comment-box-main .send-btn button {
        margin-left: 5px;
    }
}