{% extends 'base.html.twig' %}

{% block title %}Our Contact Form{% endblock title %}

{% block body %}

    <div>
        {{ form_start(contactForm) }}
        {{ form_widget(contactForm) }}
        {{ form_end(contactForm) }}
    </div>

{% endblock %}